#getphone1 {
    padding: 20px;
    margin-right: 95em;
    background-color: #FFFFCC;
    border: 2px solid black;
    text-align: center;
}

#getphone2 {
    padding: 20px;
    margin-right: 95em;
    background-color: #CCFFFF;
    border: 2px solid black;
    text-align: center;
}